@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Martel Sans", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

.main {
    background-image: url("Resources/Image/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 80vh;
    position: relative;

}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    margin-top: 20px;
    padding-top: 20px;
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 70px;
}

nav img {
    width: 140px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    gap: 20px;
    padding: 0px 23px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}



.separator {
    height: 7px;
    border-color: rgba(56, 56, 56, 0.688);
    background-color: rgba(56, 56, 56, 0.688);
}

.btn {
    color: white;
    border-radius: 3px;
    background-color: rgba(78, 78, 78, 0);
    border-color: white;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}

.btn-red-sm {
    background-color: red;
    border-color: red;
    margin-left: 10px;
}

.btn-red {
    background-color: red;
    border-color: red;
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 6px 28px;
}

.main input {
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    color: white;
    padding: 13px 105px 13px 4px;
    font-size: 13px;
    font-weight: 500;
    border-color: white;
    border: 2px solid rgba(122, 122, 122, 0.542);
}

.hero-buttons {
    background-color: rgba(248, 248, 248, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    color: white;
    height: 63vh;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 70px;
    right: 60px;
    height: 53%;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: 900;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 15px;
    max-width: 60vw;
    margin: 15px auto;
    cursor: pointer;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }
}

@media screen and (max-width: 1300px) {
    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .hero> :first-child {
        font-weight: 400;
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        background-color: rgba(248, 248, 248, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}